<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :toppings %>
  <% Order::TOPPINGS.each do |topping| %>
    <%= form.check_box :toppings, {multiple: true }, topping, false %>
    <%= form.label topping %>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
