<% name_frame_id = dom_id(order, "name") %>
<%= turbo_frame_tag name_frame_id, data: { turbo_frame: name_frame_id } do %>
  <h3>NAME</h3>
  <div><%= order.name %></div>
  <%= link_to "Edit Name", edit_from_step_separate_form_path(order, 1) %>
  <br/>
<% end %>

<% toppings_frame_id = dom_id(order, "toppings") %>
<%= turbo_frame_tag toppings_frame_id, data: { turbo_frame: toppings_frame_id } do %>
  <h3>TOPPINGS</h3>
  <% order.toppings.each do |topping| %>
    <p><%= topping %></p>
  <% end %>
  <%= link_to "Edit Toppings", edit_from_step_separate_form_path(order, 2) %>
  <br />
<% end %>

<% extras_frame_id = dom_id(order, "extras") %>
<%= turbo_frame_tag extras_frame_id, data: { turbo_frame: extras_frame_id } do %>
  <h3>EXTRAS</h3>
  <% order.extras.each do |extra| %>
    <p><%= extra %></p>
  <% end %>
  <%= link_to "Edit Extras", edit_from_step_separate_form_path(order, 3) %>
  <br /><br />
<% end %>
